@charset "utf-8";

@import "./node_modules/bulma/bulma.sass";

html{
background: rgb(210,242,255);
background: linear-gradient(129deg, rgba(210,242,255,1) 0%, rgba(238,251,255,1) 50%, rgba(208,247,210,1) 100%);
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  height:100vh;
}

.codepre {
  padding:10px;
  background-color:rgba(0,0,0,0);
  position:relative;
}

.wt{
  border-radius:5px;
}


.home-title{
font-size:3rem;
}

.home-blurb {
text-align:justify;padding-top:40px;
font-family: 'Special Elite';
font-size:1.1rem;
}

.banner{
  font-weight:900;
  background-color: #25a5ca;
  color:white;
  padding-left:6px;
  padding-right:6px;
}

.section-title {
  padding-top: 15px;
}

.diagram {
  display:flex;
  justify-content: center;
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
}
